@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
  }
.box {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;
      border-radius: 20px;
  }
.box1 {
      position: static;
      background: rgb(255,255,255);
      background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 28%, rgba(0,211,255,1) 100%, rgba(0,198,255,1) 100%);
  }
.box2 {
      position: relative;
      top: 30px;
      left: 250px;
      background: rgb(64,191,251);
background: linear-gradient(90deg, rgba(64,191,251,1) 0%, rgba(0,48,255,1) 100%);
  }
.box3 {
      position: absolute;
      top: 30px;
      right: 0;
      background: rgb(0,211,255);
background: linear-gradient(90deg, rgba(0,211,255,1) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%, rgba(0,198,255,1) 100%);
  }
.box4 {
      position: fixed;
      left: 300px;
      top: 10px;
      background: rgb(0,48,255);
background: linear-gradient(90deg, rgba(0,48,255,1) 0%, rgba(168,227,255,1) 90%);
  }
.box5 {
      position: sticky;
      left: 500px;
      top: 10px;
      background: rgb(168,227,255);
background: linear-gradient(90deg, rgba(168,227,255,1) 14%, rgba(0,48,255,1) 100%);
  }


.logo {
    width: 400px;
    height:  400px;
    background:  #ac3694;
    margin:  auto;
    position: absolute;
    top:  250px;
    right:  0;
    border-radius:  100px;
    background-image: radial-gradient(circle at 30% 100%, #fed373 9%, #f15245 30%, #d92e7f 62%, #515ecf 85%, #9b36b7);
}                    
.logo .content {
    width: 300px;
    height:  300px;
    background:  transparent;
    border:  28px solid white;
    border-radius:  100px;
    position: absolute;
    top:  0;
    bottom:  0;
    left:  0;
    margin:  auto;
    right:  0;
}
.logo .content .circle {
    width: 150px;
    height:  150px;
    box-sizing: border-box;
    background:  transparent;
    border:  28px solid white;
    border-radius:  100%;
    position: absolute;
    top:  0;
    bottom:  0;
    left:  0;
    margin:  auto;
    right:  0;
}
.logo .content .circle:after {
    width: 40px;
    height:  40px;
    background:  white;
    border-radius:  100%;
    position: absolute;
    bottom:  0;
    left:  0;
    margin:  auto;
    right:  0;
    content: '';
    left: 106px;
    top: -161px;
}
h2 {
    text-align: center;
    font-size: 50px;
}
.flag {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid black;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: darkred;
  }
